<nav
  [class]="isScroll ? 'py-2' : 'py-4'"
  class="navbar navbar-expand-lg fixed-top"
>
  <div class="container">
    <a class="navbar-brand" routerLink="">START FRAMEWORK </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li
          class="nav-item w-fitcontent px-2"
          role="button"
          routerLink="{{ link }}"
          *ngFor="let link of AllLinks"
        >
          <a
            routerLinkActive="active-link rounded-2"
            class="nav-link w-fitcontent px-2"
            aria-current="page"
            >{{ link }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
